<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByFile>**/*.xaml,**/*.g.cs,**/obj/**/*.cs,**/App.xaml.cs,**/MainWindow.xaml.cs,**/MainWindow.xaml,**/NativeMethods.cs,**/OverlayHost.cs,**/AdminElevationHelper.cs,**/AppServiceServer.cs,**/StartupService.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
